<extend name="Public/base"/>
<block name="body">
    <nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 后台管理 <span class="c-gray en">&gt;</span> 人物管理<span class="c-gray en">&gt;</span> 人物升级配置列表
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"> <i class="Hui-iconfont">&#xe68f;</i></a>
	</nav>
    <div class="page-container">
        <form class="form-inline definewidth m20" id="searchForm" action="">
        </form>
        
            <br>
        <table class="table table-border table-bordered table-bg table-sort">
            <thead>
            <tr>
                <th>等级阶段</th>
                <th>实际等级跨度</th>
                <th>难度时间</th>
                <th>时间周期</th>
                <!--<th>静态图(休眠中)</th>
                <th>动态图(挖矿中)</th>-->
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <foreach name="configList" item="vo">
                <tr >
                   <td>{$vo.level}</td>
                   <td>{$vo.tlevel}~{$vo.tlevel2}级</td>
                   <td>{$vo.value}</td>
                   <td>{$vo.time}</td>
                   <!--<td>静态图(休眠中)</td>
                   <td>动态图(挖矿中)</td>-->
                   
                   
                   <td>
                       <a href="{:U('Pconfig/edit',array('level' => $vo['level']))}">修改难度时间</a>
                   </td>
                </tr>
            </foreach>
            </tbody>
             <thead>
            <tr>
                <th colspan="3">0~100所需的时间周期</th>
                <th colspan="2">{$totaTime}</th>
            </tr>
            </thead>
        </table>
        
    </div>

</block>
<block name="javascript">
</block>
