<extend name="Public/base"/>
<block name="body">
    <nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 人物管理 <span class="c-gray en">&gt;</span> <a href="{:U('Person/index')}">人物基础配置列表</a><span class="c-gray en">&gt;</span> {$actionName}
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"> <i class="Hui-iconfont">&#xe68f;</i></a>
	   </nav>
    <div class="page-container">
        <form action="" method="post" class="form form-horizontal" id="form-member-add" novalidate="novalidate">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>人物名称:</label>
                <div class="formControls col-xs-8 col-sm-3">
                    <input type="text" class="input-text" value="{$PersonInfo['person_name']}" name="person_name" >
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>挖矿能力:</label>
                <div class="formControls col-xs-8 col-sm-3">
                    <input type="text" class="input-text" value="{$PersonInfo['person_capacity']}" name="person_capacity" >
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>人物初始血量:</label>
                <div class="formControls col-xs-8 col-sm-3">
                    <input type="text" class="input-text" value="{$PersonInfo['person_blood']}" name="person_blood" >
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>人物价格:</label>
                <div class="formControls col-xs-8 col-sm-3">
                    <input type="text" class="input-text" value="{$PersonInfo['person_price']}" name="person_price" >
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>人物成长:</label>
                <div class="formControls col-xs-8 col-sm-3">
                    <input type="text" class="input-text" value="{$PersonInfo['person_property']}" name="person_property" >
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>是否为隐藏人物:</label>
                <div class="formControls col-xs-8 col-sm-3">
                    <label><input name="status" type="radio" value="1" <if condition="$PersonInfo['status'] eq '1'">checked</if>/>是 </label> 
					<label><input name="status" type="radio" value="0" <if condition="$PersonInfo['status'] eq '0'">checked</if> />否 </label>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>图片样式:</label>
                <div class="formControls col-xs-8 col-sm-3">
                    <input type="file" name="person_img" id="" value="__PUBLIC__/images/person/{$PersonInfo['person_img']}" />
                </div>
            </div>
            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                    <input type="hidden" name="id" value="{$PersonInfo.id}">
                    <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                </div>
            </div>
        </form>
    </div>
</block>
<block name="javascript">
</block>
