<extend name="Public/base"/>
<block name="title">后台人员管理</block>
<block name="body">
    <nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 后台人员管理 <span class="c-gray en">&gt;</span> 人物管理
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"> <i class="Hui-iconfont">&#xe68f;</i></a>
	</nav>
    <div class="page-container">
        <form class="form-inline definewidth m20" id="searchForm" action="">
        </form>
        <div class="cl pd-5 bg-1 bk-gray mt-20"><span class="l">
        <a class="btn btn-primary radius" data-title="添加菜单" href="{:U('Person/add')}"><i class="Hui-iconfont">
            </i>
            添加人物</a></span></div>
            <br>
        <table class="table table-border table-bordered table-bg table-sort">
            <thead>
            <tr>
                <th>ID</th>
                <th>人物名称</th>
                <th>挖矿能力</th>
                <th>人物初始血量</th>
                <th>人物价格</th>
                <th>人物成长</th>
                <th>是否为隐藏人物</th>
                <th>图片样式</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <foreach name="PersonList" item="vo">
                <tr >
                   <td>{$vo.id}</td>
                   <td>{$vo.person_name}</td>
                   <td>{$vo.person_capacity}</td>
                   <td>{$vo.person_blood}</td>
                   <td>{$vo.person_price}</td>
                   <td>{$vo.person_property}</td>
                   <td><?php 
                   	if ($vo['status']==1) {
									echo '是';
								} else {
									echo '否';
								} ?>
                   </td>
                   <td><img style="width: 40px;height: 40px;" src="__PUBLIC__/images/person/{$vo.person_img}"/></td>
                   <td>
                       <!-- <a href="{:U('Role/privilegeEdit',array('admin_id' => $vo['admin_id']))}">配置权限</a> -->
                       <a href="{:U('Person/edit',array('id' => $vo['id']))}">编辑</a>
                       <a href="{:U('Person/del',array('id' => $vo['id']))}" onclick="return confirm('您确定要删除此人物吗?')">删除</a>
                   </td>
                </tr>
            </foreach>
            </tbody>
        </table>
        <div class="pager">
            {$page}
        </div>
    </div>

</block>
<block name="javascript">
</block>
