<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>选择系统头像</title>
  <script src="__PUBLIC__/lib/flexible/flexible_css.js"></script>
  <script src="__PUBLIC__/lib/flexible/flexible.js"></script>
  <link rel="stylesheet" href="__PUBLIC__/css/base.css">
  <link rel="stylesheet" href="__PUBLIC__/css/common.css">
  <link rel="stylesheet" href="__PUBLIC__/css/select-avatar.css">
  <script src="__PUBLIC__/js/jquery-3.1.0.min.js"></script>
  <script src="__PUBLIC__/lib/fastclick/fastclick.min.js"></script>
</head>

<body>
  <!-- 头部 -->
  <header id="header">
    <a class="h-back">
      <img id="btn-back" src="__PUBLIC__/static/icons/icon-back.png" alt="返回"> 返回
    </a>
    <span class="h-title">当贝通话</span>
  </header>
  <!-- 系统头像选择 -->
  <section id="select-avatar">
    <!-- 预览 -->
    <img class="preview" src="<?php echo C("AVATAR_URL")?>/__PUBLIC__/static/headportrait/icon_default.png" alt="头像">
    <!-- 文字 -->
    <p class="txt">
      <span class="line"></span>
      请您选择喜欢的头像
      <span class="line"></span>
    </p>
    <!-- 头像列表 -->
    <ul class="a-list">
      <li>
        <img src="__PUBLIC__/static/headportrait/Faces_grandpa.png" alt="">
      </li>
      <li>
        <img src="__PUBLIC__/static/headportrait/Faces_grandma.png" alt="">
      </li>
      <li>
        <img src="__PUBLIC__/static/headportrait/Faces_dad.png" alt="">
      </li>
      <li>
        <img src="__PUBLIC__/static/headportrait/Faces_mom.png" alt="">
      </li>
      <li>
        <img src="__PUBLIC__/static/headportrait/Faces_uncle.png" alt="">
      </li>
      <li>
        <img src="__PUBLIC__/static/headportrait/Faces_aunt.png" alt="">
      </li>
      <li>
        <img src="__PUBLIC__/static/headportrait/Faces_belderbrother.png" alt="">
      </li>
      <li>
        <img src="__PUBLIC__/static/headportrait/Faces_beldersister.png" alt="">
      </li>
      <li>
        <img src="__PUBLIC__/static/headportrait/Faces_youngerbrother.png" alt="">
      </li>
      <li>
        <img src="__PUBLIC__/static/headportrait/Faces_youngersister.png" alt="">
      </li>
    </ul>
    <!-- 确定按钮 -->
    <a class="btn-confirm" href="javascript:void(0);">确定</a>
  </section>
</body>

<!-- 引入js文件 -->
<script src="__PUBLIC__/js/common.js"></script>
<script src="__PUBLIC__/js/select-avatar.js"></script>

</html>