<extend name="Public/base"/>
<block name="body">
    <nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 后台管理 <span class="c-gray en">&gt;</span> 系统公告<span class="c-gray en">&gt;</span> 撤销公告
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"> <i class="Hui-iconfont">&#xe68f;</i></a>
	</nav>
    <div class="page-container">
        <form class="form-inline definewidth m20" id="searchForm" method="post" action="{:U('Notice/notice')}">
        
        
            <br>
        <table class="table table-border table-bordered table-bg table-sort">
            <thead>
            <tr>
                <th>公告标题</th>
                <th>公告内容</th>
                <th>发布时间</th>
                
                <th>操作</th>
                
            </tr>
            </thead>
            <tbody>
            	<volist name="notice" id="vo1">
                <tr >
                   <td>{$vo1.title}</td>
                   <td>{$vo1.text}</td>
                   <td>{$vo1.creation_time|date="Y-m-d H:i:s",###}</td>
                   <td>
                   	<a style="color: red;" href="{:U('Notice/del',array('id' => $vo1['id']))}" onclick="return confirm('您确定要撤销此公告吗?')">撤销</a>
                   </td>
                   
                </tr>
                </volist>
            </tbody>
        </table>
        </form>
    </div>

</block>
<block name="javascript">
</block>
