<extend name="Public/base"/>
<block name="title">后台人员管理</block>
<block name="body">
    <nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 后台人员管理 <span class="c-gray en">&gt;</span> 食物管理<span class="c-gray en">&gt;</span> 食物背包列表
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"> <i class="Hui-iconfont">&#xe68f;</i></a>
	</nav>
    <div class="page-container">
        <form class="form-inline definewidth m20" id="searchForm" action="">
        </form>
        <div class="cl pd-5 bg-1 bk-gray mt-20">
        	<span class="l"> 
        		<aa class="btn btn-primary radius" >食物背包列表</aa>
        	</span>
        </div>
            <br>
        <table class="table table-border table-bordered table-bg table-sort">
            <thead>
            <tr>
                <th>ID</th>
                <th>所属会员ID</th>
                <th>食物名称</th>
                <th>食物数量</th>
            </tr>
            </thead>
            <tbody>
            <foreach name="mediche_bagList" item="vo">
                <tr >
                   <td>{$vo.id}</td>
                   <td>{$vo.user_id}</td>
                   <td>
                   	<?php 
                   	if ($vo['mediche_id']==1) {
									echo '牛奶';
								} elseif($vo['mediche_id']==2) {
									echo '面包';
								}elseif($vo['mediche_id']==3) {
									echo '蛋糕';
								}elseif($vo['mediche_id']==4) {
									echo '米饭套餐';
								} ?>
                   </td>
                   <td>{$vo.mediche_num}</td>
                </tr>
            </foreach>
            </tbody>
        </table>
        <div class="pager">
            {$page}
        </div>
    </div>

</block>
<block name="javascript">
</block>
