<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>编辑个人信息</title>
  <script src="__PUBLIC__/lib/flexible/flexible_css.js"></script>
  <script src="__PUBLIC__/lib/flexible/flexible.js"></script>
  <link rel="stylesheet" href="__PUBLIC__/css/base.css">
  <link rel="stylesheet" href="__PUBLIC__/css/common.css">
  <link rel="stylesheet" href="__PUBLIC__/css/edit-info.css">
  <script src="__PUBLIC__/js/jquery-3.1.0.min.js"></script>
  <script src="__PUBLIC__/lib/fastclick/fastclick.min.js"></script>
</head>

<body>
  <!-- 头部 -->
  <!-- <header id="header">
    <a class="h-back">
      <img id="btn-back" src="__PUBLIC__/static/icons/icon-back.png" alt="返回"> 返回
    </a>
    <span class="h-title">当贝通话</span>
  </header> -->
  <!-- 编辑个人信息 -->
  <section id="edit-info">
    <!-- 编辑头像 -->
    <div class="avatar">
      <div class="a-box">
        <img src="<?php echo C('AVATAR_URL') . $head_portrait;?>" onerror=this.src="<?php echo C("AVATAR_URL")?>Public/static/headportrait/icon_default.png" alt="头像">
      </div>
      <p class="txt">点击修改</p>
    </div>
    <!-- 表单 -->
    <form id="form" action="" method="post">
      <input id="codename" type="text" value="<?php echo $name ?>" placeholder="请输入名称" maxlength="11">
      <img id="btn-clear" src="__PUBLIC__/static/icons/icon-delete.png" alt="删除">
      <input id="img-src" type="hidden" value="">
    </form>
    <!-- 确定按钮 -->
    <button class="btn-confirm">确定</button>
  </section>
  <!-- 遮罩层-头像选项 -->
  <section id="avatar-tab" class="css">
    <div class="box">
      <div class="a-system">选择系统头像</div>
      <div class="a-album">
        在手机相册中选择头像
        <input type="file" name="file" multiple accept="image/*">
      </div>
      <div class="btn-cancel">取消</div>
    </div>
  </section>
  <section id="loading">
    上传中，请稍后
  </section>
  <section id="post-success">
    上传成功
  </section>
  <!-- <section id="too-large">
    上传的头像请小于1MB
  </section> -->
</body>

<!-- 引入js文件 -->
<script src="__PUBLIC__/js/common.js"></script>
<script src="__PUBLIC__/js/exif.js"></script>
<script src="__PUBLIC__/js/edit-info.js"></script>
<script>
  function GetQueryString(name) {
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
    var r = window.location.search.substr(1).match(reg);
    if (r != null) return unescape(r[2]);
    return null;
  }

  // ajax提交表单
  $('.btn-confirm').on('click', function (e) {
    e.preventDefault();
    // 如果名字为空，禁用点击
    if ($('#codename').val() === '') {
      alert('请填写姓名！');
      return false;
    }

    var name = $('#codename').val();
    var head_portrait = $('.a-box > img').attr('src');
    var user_id = GetQueryString('user_id');

    var type = null;

    // 上传系统头像，类型为1，本地图片类型为2
    if ($('.a-box > img').attr('src').slice(0, 4) == 'data') {
      type = 2;
    } else {
      type = 1;
      head_portrait = head_portrait.replace(/^http.*com\//, '');
    }

    // 显示上传中
    $('#loading').fadeIn();

    // 禁用确定按钮
    $('.btn-confirm').css('background-color', '#bfc3c3').attr('disabled', 'disabled');

    // 提交修改请求
    $.ajax({
      url: 'edit',
      type: 'post',
      dataType: 'json',
      data: {
        name: name,
        head_portrait: head_portrait,
        user_id: user_id,
        type: type
      },
      success: function (data) {
        // 清空缓存
        localStorage.removeItem('avatar_src');
        localStorage.removeItem('system_src');
        // 请求成功
        if (data.status == true) {
          // 取消禁用
          $('.btn-confirm').css('background-color', '#01bfb3').removeAttr('disabled');
          $('#loading').fadeOut();
          $('#post-success').fadeIn();
          var timer = setTimeout(function () {
            $('#post-success').fadeOut();
            clearTimeout(timer);
          }, 1800);
        } else {
          $('#loading').fadeOut();
          $('.btn-confirm').css('background-color', '#01bfb3').removeAttr('disabled');
          alert(data.msg);
        }
      }
    })
  });
</script>

</html>