<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title></title>
    <!-- head 中 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/main.css">
</head>

<body class="loginbg">
    <div class="logomain text-center">
        <div class="logo">
            <img src="__PUBLIC__/images/icons8-git_fork.png" alt="">
            <div class="logotitle">logo</div>
        </div>
            <div class="form-group">
                <input type="text" class="form-control" id="mobile" name="mobile" placeholder="手机号">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="password" name="password" placeholder="密码">
            </div>
            <div class="form-group pzr">
                <input type="text" class="form-control" id="code" name="mobile" placeholder="验证码">
                <button class="sae">获取验证码</button>
            </div>
        <button id="btnsub" type="summit" class="weui-btn weui-btn_primary">注册并登录</button>
        <div class="pull-right forgetpass"><a href="{:U('user/login')}">已有密码</a></div>
    </div>
    
    <!-- body 最后 -->
    <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
    <!-- 如果使用了某些拓展插件还需要额外的JS -->
    
</body>
<script>

    function GetQueryString(name)
    {
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
    }

    $('#btnsub').click(function(){
        $.ajax({
            url:"{:U('user/register')}",
            type:'POST', //GET
            async:true,    //或false,是否异步
            data:{
                mobile:$('#mobile').val(),
                password:$('#password').val(),
                code:$('#code').val(),
                upuser:GetQueryString("upuser")//post传参 推广链接地址中的上线id
            },
            timeout:5000,    //超时时间
            dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
            success:function(result){
                if (result.status) {
                    window.location.href="{:U('bag/person')}";
                } else {
                    alert(result.msg);
                }
            }
        })
    });

    //验证码发送
     $(".sae").on('click',function(){

         $.ajax({
             url:"{:U('user/reset')}",
             type:'POST', //GET
             async:true,    //或false,是否异步
             data:{
                 mobile:$('#mobile').val(),
             },
             timeout:5000,    //超时时间
             dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
             success:function(result){

                 if (result.status) {
                     var step = 59;
                     $('.sae').html('重新发送60');
                     var _res = setInterval(function()
                     {
                         $(".sae").attr("disabled", true);//设置disabled属性
                         $(".sae").css("background-color", "#c5c5c5");
                         $('.sae').html('重新发送'+step);
                         step-=1;
                         if(step <= 0){
                             $(".sae").removeAttr("disabled"); //移除disabled属性
                             $(".sae").css("background-color", "#1aae19");
                             $('.sae').html('获取验证码');
                             clearInterval(_res);//清除setInterval
                         }
                     },1000);
                 } else {
                     alert(result.msg);
                 }

             }
         })

     })
     
   

</script>
</html>