<extend name="Public/base"/>
<block name="title">订单管理</block>
<block name="body">
  <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 后台管理 <span class="c-gray en">&gt;</span> 订单管理 <span class="c-gray en">&gt;</span> 官方商城订单列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	
	<form action="{:U('Accounts/returnMoney')}" method="post">
		<div >
		今日总收入：
		<input type="text" class="input-text" value="{$sumMoney}" style="width:150px;" disabled="disabled"/>
		</div>
		<div style="margin-top: 6px;">
		返 还 比 例：
		<input type="text" class="input-text" name="bili" value="{$bili}" style="width:150px;" />
		<input type="submit" value="修改比例"/>
		</div>
		<div style="margin-top: 6px;margin-bottom: 10px;">
		返 还 总 额：
		<input type="text" class="input-text" value="{$rSumMoney}" style="width:150px;" disabled="disabled"/>
		</div>
		
	</form>
	<div style="margin-bottom: 40px;" >
		<div style="float: left;" >
			<span style="border: solid 1px black;margin-right: 12px;padding: 2px;">
				<a href="{:U('Accounts/lists')}"><span style="color: green;">注册收入详情表</span></a>
			</span>
			<span style="border: solid 1px black;margin-right: 12px;padding: 2px;">
				<a href="{:U('Accounts/sclists')}">商城收入详情表</a>
			</span>
			<span style="border: solid 1px black;margin-right: 12px;padding: 2px;">
				<a href="{:U('Accounts/sxflists')}">手续费收入详情表</a>
			</span>
			<span style="margin-right: 12px;padding: 2px;">
			</span>						
		</div>
		<form action="{:U('Accounts/lists')}" method="post">
		<div class="text-r" style="float: right;"> 入账时间：
			<input type="text" onClick="laydate()" placeholder="开始时间" name="start_time" class="input-text Wdate" style="width:150px;">
			-
			<input type="text" onClick="laydate()" placeholder="结束时间" name="end_time" class="input-text Wdate" style="width:150px;">
			<button type="submit" class="btn btn-success radius"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
		</div>
	</form>
	</div>
	
	
	<div class="mt-20">
	<table class="table table-border table-bordered table-hover table-bg table-sort">
		<thead>
			<tr class="text-l">
				<th >注册收入详情表</th>
				<th >今日注册总收入：</th>
				<th >
					<if condition="$sumzcM eq null "> 0.00
						<else />{$sumzcM}
					</if>
				</th>
				<th colspan="2" >导出数据</th>
				

			</tr>
			<tr class="text-c">
				<th>序号</th>
				<th>入账编号</th>
				<th>支付会员ID</th>
				<th>入账数额</th>
				<th>入账时间</th>

			</tr>
		</thead>
		<tbody>
			<?php $iid=0;  ?>
                    <volist name="earningsData" id="vo">
			<tr class="text-c">
        <td><?php echo ++$iid; ?></td>
				<td>{$vo.id}</td>
				<td>{$vo.user_id}</td>
				<td>{$vo.price}</td>
				<td>
					{$vo.creation_time|date="Y-m-d H:i:s",###}
				</td>
				
			</tr>
                    </volist>                               
		</tbody>
	</table>
            <div class="pager">{$page}</div>
	</div>
</div>
</block>
<block name="javascript">

<script type="text/javascript">
/*用户-查看*/
function member_show(title,url,id,w,h){
	layer_show(title,url,w,h);
}
</script> 
</block>