<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title></title>
    <!-- head 中 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/main.css">
</head>

<body>
    <div class="page home ">
        <div class="page__hd">
            <h1 class="page__title">
                购买
            </h1>
        </div>
        <div class="page__bd page__bd_spacing ">

            <div class="sd bgw p20 text-center pb30 pt30">
                <div class="flexcenter">
                    <div class="buyphoto c1">
                        <!-- 头像 -->
                        <img src="{$typeImg}" alt="">
                    </div>
                </div>
                <div class="stitle">{$typeName}</div>
                <hr>
                <h3 class="mt15">请使用绑定钱包</h3>
                <div class="f12 dark"  id="usersite" data-clipboard-text="{$user.site}">
                	<div class="alert alert-success " style="text-align: center;margin-left: -12px;" role="alert">{$user.site}</div>
                </div>
                <div class="red f14 mt15">一次性</div>
                <h3 class="mt15">向下方官方钱包
                    <i class="fa fa-qr"></i>
                </h3>
                <div class="f12 dark" id="storesite" data-clipboard-text="{:C('SITE')}">
                	<div class="alert alert-success" role="alert" style="text-align: center;margin-left: -12px;">
                	{:C('SITE')}
                	</div>
                </div>
                <div class="f18 mt15">转账
                    <span class="red">{$typePrice}</span>wkc</div>
                <div class="dark mt15">请在
                    <span class="red">{$time|date="Y-m-d H:i:s",###}</span> 之前完成转账</div>
                <div class="dark">超时订单将自动取消</div>
                <button  onclick="accomplishBuy({$order_id}, $(this))"  class="weui-btn weui-btn_mini weui-btn_primary mt15">确认已支付</button><br />
                <a href="{:U('order/unBuy','','')}/order_id/{$order_id}" class="weui-btn weui-btn_mini weui-btn_warn mt15">取消订单</a>
                
            </div>
        </div>
    </div>
    <!-- body 最后 -->
    <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
    <!-- 如果使用了某些拓展插件还需要额外的JS -->
    <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/swiper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/city-picker.min.js"></script>
    <script src="https://cdn.bootcss.com/clipboard.js/1.7.1/clipboard.min.js"></script>
    
</body>
<script>
function accomplishBuy(id, $thiss){
        $thiss.attr('disabled',"disabled");
        $thiss.text('验证中...');
            $.ajax({
                url:"{:U('order/accomplishBuy','','')}/order_id/"+id,
                type:'GET', //GET
                async:true,    //或false,是否异步
                data:{

                },
                timeout:5000,    //超时时间
                dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                success:function(result){
                    if (result.status) {
                    	alert(result.msg);
                    	window.location.href= "{:U('bag/person','','')}";
                    } else {
                        alert(result.msg);
                        window.location.reload();
                    }
                }
            })

    }

//复制玩家玩客币地址
	$(document).ready(function () {
            var clipboard = new Clipboard('#usersite');
            clipboard.on('success', function (e) {
                $.alert("复制成功");
            });
        })
	//复制商城玩客币地址
	$(document).ready(function () {
            var clipboard = new Clipboard('#storesite');
            clipboard.on('success', function (e) {
                $.alert("复制成功");
            });
        })

</script>
</html>