<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title></title>
    <!-- head 中 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../../Public/css/main.css">
</head>

<body>
    <div class="page home ">
        <div class="page__hd">
            <h1 class="page__title">
                商城
            </h1>
            <div class="navbar sd">
                <div class="navbar__item">
                    <a href="">人物</a>
                </div>
                <div class="navbar__item weui_bar__item_on">
                    <a href="">装备</a>
                </div>
                <div class="navbar__item ">
                    <a href="">食物</a>
                </div>
                <div class="navbar__item pull-right">
                    <a href=""><i class="fa fa-filter mr5" aria-hidden="true"></i>等级</a>
                </div>
            </div>
        </div>
        <div class="page__bd page__bd_spacing ">
            <div class="sd mainwhite">
                <ul class="m-auto-list">
                    <li class="m-auto-box">
                        <div class="m-img-box m-imghold-square">
                            <img src="https://wx3.sinaimg.cn/orj360/006gTk01gy1fk0j343wy0j30iu0hu3zn.jpg">
                        </div>
                        <div class="text-center green ">大锤子
                            <ul>
                                <li class="dark">耐久度:
                                    <span>12</span>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="m-auto-box">
                        <div class="m-img-box m-imghold-square">
                            <img src="https://wx3.sinaimg.cn/orj360/006gTk01gy1fk0j343wy0j30iu0hu3zn.jpg">
                        </div>
                        <div class="text-center green ">大锤子
                            <ul>
                                <li class="dark">耐久度:
                                    <span>12</span>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="m-auto-box">
                        <div class="m-img-box m-imghold-square">
                            <img src="https://wx3.sinaimg.cn/orj360/006gTk01gy1fk0j343wy0j30iu0hu3zn.jpg">
                        </div>
                        <div class="text-center green ">大锤子
                            <ul>
                                <li class="dark">耐久度:
                                    <span>12</span>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="m-auto-box">
                        <div class="m-img-box m-imghold-square">
                            <img src="https://wx3.sinaimg.cn/orj360/006gTk01gy1fk0j343wy0j30iu0hu3zn.jpg">
                        </div>
                        <div class="text-center green ">大锤子
                            <ul>
                                <li class="dark">耐久度:
                                    <span>12</span>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="m-auto-box">
                        <div class="m-img-box m-imghold-square">
                            <img src="https://wx3.sinaimg.cn/orj360/006gTk01gy1fk0j343wy0j30iu0hu3zn.jpg">
                        </div>
                        <div class="text-center green ">大锤子
                            <ul>
                                <li class="dark">耐久度:
                                    <span>12</span>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="weui-tabbar">
            <a href="../Index/index.html" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <i class="fa fa-gamepad"></i>
                </div>
                <p class="weui-tabbar__label">首页</p>
            </a>
            <a href="sc.html" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <i class="fa fa-shopping-bag"></i>
                </div>
                <p class="weui-tabbar__label">商城</p>
            </a>
            <a href="want.html" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <i class="fa fa-gavel"></i>
                </div>
                <p class="weui-tabbar__label">交易</p>
            </a>
            <a href="me.html" class="weui-tabbar__item weui-bar__item--on">
                <div class="weui-tabbar__icon">
                    <i class="fa fa-user"></i>
                </div>
                <p class="weui-tabbar__label">我的</p>
            </a>
        </div>
    </div>
    <!-- body 最后 -->
    <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
    <!-- 如果使用了某些拓展插件还需要额外的JS -->
    <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/swiper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/city-picker.min.js"></script>
</body>

</html>