<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title></title>
    <!-- head 中 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../../Public/css/main.css">
</head>

<body>
    <div class="page home ">
        <div class="page__hd">
            <h1 class="page__title">
                人物详情
            </h1>
        </div>
        <div class="page__bd page__bd_spacing ">
            <div class="sd bgw">
                <div class="mainflex js_category">

                    <div class="mainphoto c1">
                        <!-- 头像 -->
                        <img src="{$person.person_img}" alt="">
                    </div>
                    <div class="maintext">
                        <ul>
                            <li class="dark">等级:
                                <span>{$person.level}</span>
                            </li>
                            <li class="dark">基础挖矿属性:
                                <span>{$person.person_capacity}</span>
                            </li>
                            <li class="dark">成长属性:
                                <span>{$person.person_property}</span>
                            </li>
                            <li class="dark">血量:
                                <span>{$person.blood}</span>
                            </li>

                            <li class="dark">总算力:
                                <span>{$person.capacity}</span>
                            </li>
                        </ul>
                    </div>

                    <div class="cleanfix"></div>
                </div>
                <div class="zbmain">
                    <div class="weui-tab">
                        <div class="weui-navbar">
                            <a class="weui-navbar__item weui-bar__item--on" href="#tab1">
                                装备
                            </a>
                            <a class="weui-navbar__item" href="#tab2">
                                药品
                            </a>
                            <a class="weui-navbar__item" href="#tab3">
                                掘金记录
                            </a>
                        </div>
                        <div class="weui-tab__bd">
                            <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
                                <div class="stitle mb15">当前装备</div>
                                <div class="weui-flex mb5 flexcenter">
                                    <div class="weui-flex__item">
                                        <div class="item c1">

                                            <if condition="$person.equipment_info eq ''">
                                                <img src="/public/images/nullzhuangbei.png" alt="">
                                                <else />
                                                <img src="{$person.equipment_info.equipment_img}" alt="">
                                            </if>

                                        </div>
                                    </div>
                                    <div class="weui-flex__item itemname  f12">工具</div>
                                    <if condition="$person.equipment_info eq ''">
                                        <div class="weui-flex__item itemname  f12">没有装备</div>
                                        <div class="weui-flex__item itemname f12 dark"></div>
                                        <else />
                                        <div class="weui-flex__item itemname  f12">{$person.equipment_info.equipment_name}</div>
                                        <div class="weui-flex__item itemname f12 dark">耐久度：{$person.equipment_info.equipment_endurance}</div>
                                    </if>

                                </div>
                                <div class="weui-flex mb5 flexcenter">
                                    <div class="weui-flex__item">
                                        <div class="item c1">
                                            <if condition="$person.equipment_info eq ''">
                                                <img src="/public/images/nullzhuangbei.png" alt="">
                                                <else />
                                                <img src="{$person.equipment_card_info.equipment_img}" alt="">
                                            </if>
                                        </div>
                                    </div>
                                    <div class="weui-flex__item itemname  f12">头部</div>
                                    <if condition="$person.equipment_info eq ''">
                                        <div class="weui-flex__item itemname  f12">没有装备</div>
                                        <div class="weui-flex__item itemname f12 dark"></div>
                                        <else />
                                        <div class="weui-flex__item itemname  f12">{$person.equipment_card_info.equipment_name}</div>
                                        <div class="weui-flex__item itemname f12 dark">已装备</div>
                                    </if>


                                </div>
                                <div class="cleanfix"></div>
                                <hr>
                                <div class="stitle mt15 mb15">可用装备</div>
                                <div>
                                    <ul class="flex-layout category-head" id="category-head" style="">
                                        <li class="flex" style="" searchtype="brand">
                                            <div class="omreitem c1 use">
                                                <img src="http://placehold.it/300x300" alt="">
                                                <input value="{$vo.id}" class="id" type="hidden">
                                                <input value="1" class="type" type="hidden">
                                            </div>
                                            <div class="weui-flex__item itemname  f12 black mt5">大铁锤 </div>
                                            <div class="weui-flex__item itemname f12 dark">耐久度：7</div>
                                        </li>

                                        <li class="flex" style="" searchtype="brand">
                                            <div class="omreitem c1 use">
                                                <img src="http://placehold.it/300x300" alt="">
                                            </div>
                                            <div class="weui-flex__item itemname  f12 black mt5">大铁锤 </div>
                                            <div class="weui-flex__item itemname f12 dark">耐久度：7</div>
                                        </li>

                                        <volist name="equipment_all" id="vo">
                                            <li class="flex" style="" searchtype="brand">
                                                <div class="omreitem c1 use">
                                                    <img src="http://placehold.it/300x300" alt="">
                                                </div>
                                                <div class="weui-flex__item itemname  f12 black mt5">{$vo.equipment_name} </div>
                                                <if condition="$vo.equipment_protect neq 0">
                                                    <div class="weui-flex__item itemname f12 dark">耐久度：{$vo.equipment_endurance}</div>
                                                    <else />
                                                    <div class="weui-flex__item itemname f12 dark">此道具无耐久属性</div>
                                                </if>
                                            </li>
                                        </volist>

                                    </ul>

                                </div>
                            </div>
                            <div id="tab2" class="weui-tab__bd-item">
                                <!--<div class="stitle mb15">血量</div>-->
                                <!--<div class="progress">-->
                                    <!--<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"-->
                                        <!--style="width:80%">-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="pull-right stitle mt5 mb15">当前血量：0</div>-->
                                <!--<div class="cleanfix"></div>-->
                                <!--<hr>-->

                                <div class="stitle mt15 mb15">我的食物</div>
                                <div class="mb15 mt15">
                                    <ul class="flex-layout category-head" id="category-head" style="">
                                        <!--<li class="flex" style=""  searchtype="brand">-->
                                            <!--<div class="omreitem c1">-->
                                                <!--<img src="http://placehold.it/300x300" alt="">-->
                                            <!--</div>-->
                                            <!--<div class="weui-flex__item itemname  f12 black mt5">大铁锤 </div>-->
                                            <!--<div class="weui-flex__item itemname f12 dark">耐久度：7</div>-->
                                        <!--</li>-->

                                        <volist name="mediche_all" id="vo">
                                            <li class="flex" style="" searchtype="brand">
                                                <div class="omreitem c1 use">
                                                    <img src="{$vo.mediche_img}" alt="">
                                                    <input value="{$vo.id}" class="id" type="hidden">
                                                    <input value="2" class="type" type="hidden">
                                                </div>
                                                <div class="weui-flex__item itemname  f12 black mt5">{$vo.mediche_name} </div>
                                                <div class="weui-flex__item itemname f12 dark">数量:{$vo.mediche_num}</div>
                                            </li>
                                        </volist>
                                    </ul>
                                    <div class="cleanfix"></div>
                                </div>
                                <hr>
                                <div class="stitle mt15 mb15">喂养记录</div>
                                <table class="table table-striped">
                                    <tbody>
                                    <volist name="log" id="vo">
                                        <tr>
                                            <td scope="row">{:date('Y-m-d H:i:s',$vo['time'])}</td>
                                            <td>/</td>
                                            <td class="green">{$vo.msg}</td>
                                        </tr>
                                    </volist>
                                    </tbody>
                                </table>
                            </div>
                            <div id="tab3" class="weui-tab__bd-item">
                                <!-- 通用无数据 -->
                                <div class="text-center dark f12 pb20">
                                    <div class="f14"><i class="fa fa-thermometer-empty"></i></div>
                                    暂无数据
                                </div>
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td scope="row">2010-01-08 23:53:21</td>
                                            <td>/</td>
                                            <td class="green">+12 wkc</td>
                                        </tr>
                                        <tr>
                                            <td scope="row">2010-01-08 23:53:21</td>
                                            <td>/</td>
                                            <td class="green">+12 wkc</td>
                                        </tr>
                                        <tr>
                                            <td scope="row">2010-01-08 23:53:21</td>
                                            <td>/</td>
                                            <td class="green">+11 wkc</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sd bgw mt15 p20">
                <div class="stitle">操作</div>
                <div class="weui-flex">
                    <div class="weui-flex__item text-center">
                        <a href="sellmain.html" class="weui-btn weui-btn_mini weui-btn_warn  mt10 mb10">出售角色</a>
                    </div>

                    <div class="weui-flex__item text-center">
                        <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary  mt10 mb10">卸下装备</a>
                    </div>

                </div>
            </div>
        </div>


        <div class="footheight"></div>
    </div>
    <!-- body 最后 -->
    <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
    <!-- 如果使用了某些拓展插件还需要额外的JS -->
    <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/swiper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/city-picker.min.js"></script>
    <script>
          $(document).on("click", ".use", function () {
                $.confirm({
                  title: '',
                  text: '确定使用?',
                  onOK: function () {
                      //点击确认
                  },
                  onCancel: function () {
                  }
              });
            });
    </script>
</body>

</html>