<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title></title>
    <!-- head 中 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../../Public/css/main.css">
</head>

<body>
    <div class="page home ">
        <div class="page__hd">
            <h1 class="page__title pb0">
                个人中心
            </h1>
        </div>
        <div class="page__bd page__bd_spacing ">
            <div class="sd bgw">
                <div class="mainflex js_category flex" id="show-actions">
                    <div class="userphoto ">
                        <!-- 头像 -->
                        <img src="__PUBLIC__/images/face.jpg" alt="">
                    </div>
                    <div class="maintext">
                        <div class="usename">{$user.data.mobile}</div>
                        <div class="usewkc">推广积分 {$user.data.point} wkc </div>
                        
                        <div class="uselink">{$user.data.site}</div>
                    </div>
                    <div class="meicon pull-right">
                        <i class="fa fa-angle-right"></i>
                    </div>
                    <div class="cleanfix"></div>
                </div>
            </div>
            <div class="sd bgw mt15 p20">
                <div class="stitle">游戏统计</div>
                <div class="weui-flex">
                    <div class="weui-flex__item text-center">
                        <div class="lfont">{$personNum}</div>
                        <div class="sfont">矿工人数</div>
                    </div>
                    <div class="weui-flex__item text-center">
                        <div class="lfont">{$sumEarnings}</div>
                        <div class="sfont">昨日收益</div>
                    </div>
                    <div class="weui-flex__item text-center">
                        <div class="lfont">还未统计 </div>
                        <div class="sfont">总收益</div>
                    </div>
                    <div class="weui-flex__item text-center">
                        <div class="lfont">{$user.data.point} </div>
                        <div class="sfont">推广积分</div>
                    </div>
                </div>
            </div>
            <div class="sd bgw mt15 p20">
                <div class="stitle">推广链接</div>
                <div class="weui-flex">
                    <!-- <div class="weui-flex__item text-center">
                        
                    </div> -->
                    <div class="weui-flex__item text-center" id="copyurl" data-clipboard-text="jhjahsdhaksdkhs">
                        <div class="alert alert-success" role="alert">
                            https://v3.bootcss.com/components/#badges
                        </div>

                    </div>
                </div>
            </div>
            
            <a href="{:U('bag/newspage')}">
                <div class="sd bgw mt15 p20 text-center">

                    <div class="lineb">
                        系统公告
                    </div>

                </div>
            </a>
            <a href="javascript:;" id="withdraw">
                <div class="sd bgw mt15 p20 text-center">
            
                    <div class="lineb">
                        提现
                    </div>
            
                </div>
            </a>
            <a href="{:U('bag/help')}">
                <div class="sd bgw mt15 p20 text-center">

                    <div class="lineb">
                        帮助中心
                    </div>

                </div>
            </a>
        </div>
        <div class="footheight"></div>
        <div class="weui-tabbar">
            <a href="{:U('store/person')}" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <i class="fa fa-gamepad"></i>
                </div>
                <p class="weui-tabbar__label">首页</p>
            </a>
            <a href="{:U('store/person')}" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <i class="fa fa-shopping-bag"></i>
                </div>
                <p class="weui-tabbar__label">商城</p>
            </a>
            <a href="" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <i class="fa fa-gavel"></i>
                </div>
                <p class="weui-tabbar__label">交易</p>
            </a>
            <a href="{:U('bag/userMe')}" class="weui-tabbar__item weui-bar__item--on">
                <div class="weui-tabbar__icon">
                    <i class="fa fa-user"></i>
                </div>
                <p class="weui-tabbar__label">我的</p>
            </a>
        </div>
    </div>
    <!-- body 最后 -->
    <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
    <!-- 如果使用了某些拓展插件还需要额外的JS -->
    <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/swiper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/city-picker.min.js"></script>
    <!-- 复制到剪切板 -->
    <script src="https://cdn.bootcss.com/clipboard.js/1.7.1/clipboard.min.js"></script>
    <script>
        // 复制链接
        $(document).ready(function () {
            var clipboard = new Clipboard('#copyurl');
            clipboard.on('success', function (e) {
                $.alert("复制成功");
            });
        })
        //提现
          $(document).on("click", "#withdraw", function () {

              //如果参数过多，建议通过 object 方式传入
              $.prompt({
                  title: '积分提现',
                  input: '输入数额',
                  empty: false, // 是否允许为空
                  onOK: function (input) {
			                  	$.ajax({
							            url:"{:U('user/withdraw','','')}"+'/wpoint/'+input,
							            type:'GET', //GET
							            async:true,    //或false,是否异步
							            
							            timeout:5000,    //超时时间
							            dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
							            success:function(result){
							                alert(result.msg);
							            }
							        });
                      
                  },
                  onCancel: function () {
                      //点击取消
                  }
              });
            });
        // 弹出菜单
        $(document).on("click", "#show-actions", function () {
            $.actions({
                title: "选择操作",
                onClose: function () {
                    console.log("close");
                },
                actions: [
                    
                    {
                        text: "提现",
                        className: '',
                        onClick: function () {
                            $.prompt({
				                  title: '积分提现',
				                  input: '输入数额',
				                  empty: false, // 是否允许为空
				                  onOK: function (input) {
							                  	$.ajax({
											            url:"{:U('user/withdraw','','')}"+'/wpoint/'+input,
											            type:'GET', //GET
											            async:true,    //或false,是否异步
											            
											            timeout:5000,    //超时时间
											            dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
											            success:function(result){
											                alert(result.msg);
											            }
											        });
				                      
				                  },
				                  onCancel: function () {
				                      //点击取消
				                  }
				              });
                        }
                    },
                    
                    {
                        text: "退出登陆",
                        className: 'color-danger',
                        onClick: function () {
                            $.ajax({
									url:"{:U('user/logout')}",
									type:'GET', //GET
									async:true,    //或false,是否异步
											            
									timeout:5000,    //超时时间
									dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
									success:function(result){
											    window.location.href="{:U('user/login')}";
											            }
									});
                        }
                    }
                ]
            });
        });
    </script>
</body>

</html>