<extend name="Public/base"/>
<block name="body">
    <nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 道具管理 <span class="c-gray en">&gt;</span> <a href="{:U('Equipment/index')}">道具基础配置列表</a><span class="c-gray en">&gt;</span> {$actionName}
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"> <i class="Hui-iconfont">&#xe68f;</i></a>
	   </nav>
    <div class="page-container">
        <form action="" method="post" class="form form-horizontal" id="form-member-add" novalidate="novalidate" enctype="multipart/form-data">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>道具名称:</label>
                <div class="formControls col-xs-8 col-sm-3">
                    <input type="text" class="input-text" value="{$equipmentInfo['equipment_name']}" name="equipment_name" >
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>基础耐久度:</label>
                <div class="formControls col-xs-8 col-sm-3">
                    <input type="text" class="input-text" value="{$equipmentInfo['equipment_endurance']}" name="equipment_endurance" >
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>是否防坍塌致血量归1:</label>
                <div class="formControls col-xs-8 col-sm-3">
                    <label><input name="equipment_protect" type="radio" value="1" <if condition="$equipmentInfo['equipment_protect'] eq '1'">checked</if>/>是 </label> 
					<label><input name="equipment_protect" type="radio" value="0" <if condition="$equipmentInfo['equipment_protect'] eq '0'">checked</if> />否 </label> 
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>道具价格:</label>
                <div class="formControls col-xs-8 col-sm-3">
                    <input type="text" class="input-text" value="{$equipmentInfo['equipment_price']}" name="equipment_price" >
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>挖矿效率:</label>
                <div class="formControls col-xs-8 col-sm-3">
                    <input type="text" class="input-text" value="{$equipmentInfo['equipment_multiple']}" name="equipment_multiple" >
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>道具说明:</label>
                <div class="formControls col-xs-8 col-sm-3">
                    <input type="text" class="input-text" value="{$equipmentInfo['explain']}" name="explain" >
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>是否为隐藏道具:</label>
                <div class="formControls col-xs-8 col-sm-3">
                    <label><input name="status" type="radio" value="1" <if condition="$equipmentInfo['status'] eq '1'">checked</if>/>是 </label> 
					<label><input name="status" type="radio" value="0" <if condition="$equipmentInfo['status'] eq '0'">checked</if> />否 </label> 
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>图片样式:</label>
                <div class="formControls col-xs-8 col-sm-3">
                    <input type="file" name="equipment_img" id="" value="" />
                </div>
            </div>
            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                    <input type="hidden" name="id" value="{$equipmentInfo.id}">
                    <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                </div>
            </div>
        </form>
    </div>
</block>
<block name="javascript">
</block>
