<extend name="Public/base"/>
<block name="body">
    <nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 后台管理 <span class="c-gray en">&gt;</span> 道具管理<span class="c-gray en">&gt;</span> 道具基础配置列表
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"> <i class="Hui-iconfont">&#xe68f;</i></a>
	</nav>
    <div class="page-container">
        <form class="form-inline definewidth m20" id="searchForm" action="">
        </form>
        <div class="cl pd-5 bg-1 bk-gray mt-20"><span class="l">
        <a class="btn btn-primary radius" data-title="添加菜单" href="{:U('Equipment/add')}"><i class="Hui-iconfont">
            </i>
            添加道具</a></span></div>
            <br>
        <table class="table table-border table-bordered table-bg table-sort">
            <thead>
            <tr>
                <th>ID</th>
                <th>道具名称</th>
                <th>基础耐久度</th>
                <th>是否防塌陷致血量归1</th>
                <th>道具价格</th>
                <th>挖矿效率</th>
                <th>图片样式</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <foreach name="equipmentList" item="vo">
                <tr >
                   <td>{$vo.id}</td>
                   <td>{$vo.equipment_name}</td>
                   <td>{$vo.equipment_endurance}</td>
                   <td><?php 
                   	if ($vo['equipment_protect']==1) {
									echo '是';
								} else {
									echo '否';
								} ?>
					</td>
					<td>{$vo.equipment_price}</td>
					<td>{$vo.equipment_multiple}</td>
                   <td><img style="width: 40px;height: 40px;" src="__PUBLIC__{$vo.equipment_img}"/></td>
                   <td>
                       <!-- <a href="{:U('Role/privilegeEdit',array('admin_id' => $vo['admin_id']))}">配置权限</a> -->
                       <a href="{:U('Equipment/edit',array('id' => $vo['id']))}">编辑</a>
                       <a href="{:U('Equipment/del',array('id' => $vo['id']))}" onclick="return confirm('您确定要删除此道具吗?')">删除</a>
                   </td>
                </tr>
            </foreach>
            </tbody>
        </table>
        <div class="pager">
            {$page}
        </div>
    </div>

</block>
<block name="javascript">
</block>
