<extend name="Public/base"/>
<block name="title">查看用户</block>
<block name="body">    
<div class="cl pd-20" style=" background-color:#5bacb6">
    <notempty name="user.head_portrait">
        <img class="avatar size-XL l" src="<?php echo C('AVATAR_URL').$user['head_portrait']?>">
        <else/>
        <img class="avatar size-XL l" src="__PUBLIC__/static/h-ui/images/ucnter/avatar-default.jpg">
    </notempty>  
  <dl style="margin-left:80px; color:#fff">
    <dt><span class="f-18"> </span> <span class="pl-10 f-12"> </span></dt>
    <dd class="pt-10 f-12" style="margin-left:0">
        <notempty name="user.sign">
            {$user.sign}
        <else/>
            <!--这家伙很懒，什么也没有留下-->
        </notempty>        
    </dd>
  </dl>
</div>
<div class="pd-20">
  <table class="table">
    <tbody>
        <tr>
        <th class="text-r">呢称：</th>
        <td>{$user.name}</td>
      </tr>
      <tr>
          <th class="text-r">手机：</th>
          <td>{$user.mobile}</td>
      </tr>
      <tr>
          <th class="text-r">TV端设备号:</th>
          <td>{$user.deviceid_tv}</td>
      </tr>
      <tr>
          <th class="text-r">手机端设备号:</th>
          <td>{$user.deviceid_mobile}</td>
      </tr>
       <tr>
        <th class="text-r">网易云TOKEN：</th>
        <td>{$user.token}</td>
      </tr>
      <tr>
        <th class="text-r">注册时间：</th>
        <td>{$user.create_time|date="Y-m-d H:i:s",###}</td>
      </tr>
      <tr>
        <th class="text-r">最后登录:</th>
        <td>{$user.last_time|date="Y-m-d H:i:s",###}</td>
      </tr>
    </tbody>
  </table>
</div>
    
</block>
<block name="javascript">

</block>
