<extend name="Public/base"/>
<block name="title">查看用户</block>
<block name="body">    
<div class="cl pd-20" style=" background-color:#5bacb6">

    <img class="avatar size-XL l" src="<?php echo C('AVATAR_URL').$merchandise['img']?>">

  <dl style="margin-left:80px; color:#fff">
    <dt><span class="f-18"> </span> <span class="pl-10 f-12"> </span></dt>
    <dd class="pt-10 f-12" style="margin-left:0">
        <notempty name="user.sign">
            {$user.sign}
        <else/>
            <!--这家伙很懒，什么也没有留下-->
        </notempty>        
    </dd>
  </dl>
</div>
<div class="pd-20">
  <table class="table">
    <tbody>
    <tr>
        <th class="text-r">创建时间：</th>
        <td>{$merchandise.create_time|date="Y-m-d H:i:s",###}</td>
    </tr>
    <tr>
        <th class="text-r">简介：</th>
        <td><?php echo $merchandise['introduce']?></td>
    </tr>

    <tr>
        <th class="text-r">详情图：</th>
        <td><img src="<?php echo C('AVATAR_URL').$merchandise['detail_img']?>"></td>
    </tr>

    </tbody>
  </table>
</div>
    
</block>
<block name="javascript">

</block>
